<body>
  <div class="containter">
    <h3>Contacts</h3>
    <hr class="line">
    <div class="row">
      <div class="col-md-6">
        <div class="class_right">
          <input type="text" placeholder="Serch 478 contacts">
            <div class="contact">
              <div id="profileImage"></div>
              <p>Evans</p>
               <p>0798288410</p>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="class_left">
          <p>hello 3</p>
        </div>
      </div>
    </div>
  </div>
</body>


