<body>
  <div class="containter">

    <hr class="line">
    <div class="row">
      <div class="col-md-6" id="phone_list">
        <div class="heading">
          <h3>Contacts</h3>
          <h3>Add</h3></div>
        <div class="class_right">
          <input type="text" placeholder="Serch {{totalPhone}} contacts"   [(ngModel)]="filteredString">
            <div class="contact" *ngFor="let phone of allPhone| phoneFilter:filteredString">
              <div id="profileImage"></div>
              <p>{{phone.name}}</p>
               <p>{{phone.phone}}</p>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="class_left">
          <p>Detail section..</p>
        </div>
      </div>
    </div>
  </div>
</body>




